/*HTML Selectors*/
#wrap {
	max-width: 960px;
	margin: 0 auto;
}

.mainNav{
  height: auto;
  width: 960px;
  margin-top: 200px;
  margin-bottom: 1px;
  margin-left: 215px;
  margin-right: 0px;
  text-align: center;
  align-items: center;
  display: inline;
  text-decoration: none;
}

.mainNav a{
	overflow: hidden;
}

.mainNav ul{
  margin-top: -30px;
  margin-bottom: 1px;
	margin-right: 1px;
	margin-left: -500px;
  text-align: center;
  display: inline;
  vertical-align: top;
  background-color: #f2f6fb;
  width: 960px;
  height: 30px;
  position: fixed;
}

.mainNav ul li{
  font-size: 16px;
  display:inline-block;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 10px;
	padding-left: 1px;
	padding-right: 1px;
}

.mainNav ul li a{
  color: black;
  border-radius: 5px;
  text-decoration: none;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

}

.mainNav ul li a:hover{
  background-color: #93b93b;
}

.logo_Content{
	margin-top: -75px;
}

.logo{
	margin-top: 100px;
  margin-bottom: -250px;
  margin-left: 400px;
  margin-right: 1px;
	padding: 0px;
}


.donate_Today{
  margin-top: 142px;
  margin-bottom: 0px;
  margin-left: 240px;
  margin-right: 1px;
  font-size: 20px;
  font-family: Arial,sans-serif;
  width: 300px;
	text-decoration: none;
	color: #93b93b;
}

.memberships{
  margin-top: -40px;
  margin-bottom: 1px;
  margin-left: 650px;
  margin-right: 1px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  width: 300px;
	text-decoration: none;
	color: #93b93b;
}

.hook_Image{
	margin-top: 100px;
}

.anglers_Association{
	margin-left: 460px;
	margin-top: -240px;
}

.background{
  background-color: #f2eeeb;
  height: 280px;
	margin-top: 150px;
}


.membership_and_fundraising{
  padding-top: 15px;
	margin-top: -105px;
  align-items: center;
  text-align: center;
}

.renewal{
  margin-left: 250px;
  width: 420px;
  height: 60px;
  align-items: center;
  text-align: center;
  padding: 1px;
  border-style:solid;
  border-color:black;
  background-color: #FFFFFF;
}

.traa_Projects{
	padding-top: 100px;
padding-bottom: 0px;
margin-top: -100px;


}

.trout_Hatchery{
max-width: 220px;
height: 600px;
margin-top: 80px;
margin-left: 90px;
align-items: center;
text-align: center;
padding: 0px;
background-color: #f2f6fb;
font-size: 16px;
font-family: Arial;
}

.salmonid_Monitoring_Program{
max-width: 220px;
height: 600px;
margin-top: -605px;
margin-left: 370px;
align-items: center;
text-align: center;
padding: 0px;
background-color: #f2f6fb;
font-size: 16px;
font-family: Arial;
}

.salmonid_Monitoring{
	margin-top: -300px;
}


.komoka_Creek_Hydrological_Study{
max-width: 220px;
height: 600px;
margin-top: -600px;
margin-left: 650px;
align-items: center;
text-align: center;
padding: 0px;
background-color: #f2f6fb;
font-size: 16px;
font-family: Arial;
}

.merchandise_Bar{
  margin-top: 50px;
  text-align: center;
  align-items: center;
  background-color: #f2eeeb;
  background-size: 60px;
  font-size: 30px;
  font-family: arial;
}

.merchandise{
	align-items: flex-start;
	margin-top: -100px;
}


.merchandise_Shirt{
	max-width: 240px;
	height: 360px;
	margin-left: 60px;
	align-items: center;
	text-align: center;
	padding: 1px;
	background-color: #f2f6fb;
	font-size: 16px;
	font-family: Arial;
}

.traa_Hats{
	max-width: 240px;
	height: 360px;
	margin-left: 350px;
	margin-top: -360px;
	align-items: center;
	text-align: center;
	padding: 1px;
	background-color: #f2f6fb;
	font-size: 16px;
	font-family: Arial;
}


.traa_Stickers{
	max-width: 240px;
	height: 360px;
	margin-left: 645px;
	margin-top: -360px;
	align-items: center;
	text-align: center;
	padding: 1px;
	background-color: #f2f6fb;
	font-size: 16px;
	font-family: Arial;
}

.button{
	background-color: #93b93b;
	top: -10px;
  left: -10px;
	border-radius: 50px;
	width: 70px;
	height: 20px;
	font-size: 10px;
	color: white;
	outline: none;
	border: none;
}

.button:hover{
cursor: pointer;
background-color: #FFFFFF;
color: black;
}

.button:active {
  background-color: #FFFFFF;
}

.newsletter{
	margin-left: 160px;
	font-family: arial;
	font-size: 14pt;
	color: black;
	padding:-top: 10px;
	margin-left: 300px;
}

.search-Box{
	margin-left: 550px;
	margin-top: -40px;
	}

	.search-Box:input{
	height: 30px;
  width: 50px;
	}

.footer_Menu{
	background-color: #f2f6fb;
	max-width: 960px;
	height: 500px;
	margin-top: -310px;
}

.footer_Logo{
	margin-top: 150px;
	padding-bottom: 30px;
 padding-left: 10px;
}

.more_Info{
padding-left: 20px;
padding-top: 40px;
margin-left: 210px;
}

.contact_Info{
	margin-left: 410px;
	margin-top: -235px;
}

.navigation_Title{
margin-top: -255px;
margin-left: 600px;
}

.footer_Nav{
margin-top: 1px;
margin-left: 560px;
text-decoration: none;

}

.footer_Nav ul{
	list-style-type: none;
	text-decoration: none;
}


.footer_Nav ul li a{
	color: #93b93b;
	text-decoration: none;
	list-style: none;
	align-content: center;
}

.sponsored{
	margin-top: 150px;
	margin-left: 40px;
}
