/*ALL PAGES (NAV-FOOTER-GENERAL)*/
.hidden {display: none;}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: black;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	border-bottom: solid 3px #93b93b;
}

h2 {
	font-size: 24px;
	font-style: italic;
	padding: 20px 0 20px 10px;
}

p {
	padding: 0 10px 0 10px;
}

i {
	font-style: italic;
}

main {
	min-width: 960px;
	margin: 0 auto;
	text-align: center;
}

nav {
	margin: auto;
	height: 40px;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: #93b93b;
	background-color: #f2f6fb;
	position: fixed;
}

.mainNav {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 960px;
	height: 40px;
	margin: auto;
}

.mainNav li {
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.mainNav li a {
	text-decoration: none;
	padding: 10px 33px 10px 33px;
	font-size: 20px;
	color: black;
	transition: .75s;
}


.mainNav li a:hover {
	background-color: #93b93b;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}


header {
	height: 200px;
	padding-top: 43px;
}

.headerContent {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: auto;
	width: 900px;
}

.logo {
	margin: auto;
	margin-top: 10px;
	height: 150px;
	width: 150px;
}


.donaship {
	display: flex;
	margin: auto;
	width: 200px;
	height: 30px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
	color: black;

	transition: .15s;
}

.donaship:hover {
	font-size: 25px;
	color: #93b93b;
}

.newsletter {
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: space-between;	
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 30px;
	width: 650px;
}

.newsletter h2 {
	padding: 0;
	margin: 0;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
}

.search-box {
	border: solid 2px black;
}

.search-box input {
	padding-left: 3px;
	font-size: 16px;
	height: 26px;
	width: 295px;
}

#main-footer {
	height: 320px;
	background-color: #f2f6fb;
}

.footer {
	display: flex;
	flex-flow: row;
	margin: auto;
	padding-top: 40px;
	width: 900px;
	height: 200px;
}

.footer-logo {
	padding-right: 20px;
	width: 150px;
	height: 150px;
}

.footer a {
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.footer-text {
	text-align: left;
	width: 200px;
}

.footer-text h2 {
	padding: 0;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 20px;
}

.footer-text h3 {
	padding: 0;
	font-size: 11px;
	font-weight: bold;
}

.footer-text p {
	padding: 0;
	font-size: 11px;
	font-weight: normal;
	padding-bottom: 20px;
}

.footer-text li, a {
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: black;
	padding-top: 10px;

	transition: .25s;
}

.footer-text a:hover {
	font-weight: bold;
	color: #93b93b;
}

.thanks h1 {
	border: 0;
	margin: auto;
	text-align: left;
	width: 900px;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}


.bottom-logos {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: auto;
	width: 860px;
}

.bottom-logos img {
	margin: auto;
	height: 35px;
}

.bottom-logos a:hover {
	cursor: pointer;
}


/*HOME PAGE*/

.hero-home {
	background-image: url(../images/hero/home-hero.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: auto;
	height: 420px;
}

.tag {
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	width: 900px;
	height: 420px;
}

.tag img {											/*layover message on hero image*/
	margin-top: 120px;
	width: 420px;
	height: 180px;
}

.messageBanner {
	display: flex;
	flex-direction: column;
	min-height: 280px;
	background-color: #ebebeb;
}

.messageBoard {
	margin: auto;
	width: 380px;
	overflow-wrap: break-word;
}

.messageBoard h2 {
	font-size: 24px;
	font-style: italic;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

.messageBoard h3 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
}

.messageBoard p {
	font-size: 16px;
	margin: auto;
}

.membershipAd {
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 380px;
	height: 60px;
	border: solid 3px black;
	background-color: #f2f6fb;
}

.memLink {	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 380px;
	height: 60px;
}

.membershipAd p {
	font-size: 16px;
	font-weight: bold;
}

.sectionTitle {
	margin: auto;
	display: flex;
	justify-content: flex-start;
	width: 900px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.projectContainer {
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 780px;
}

.project {
	width: 220px;
	display: flex;
	flex-flow: column;
	background-color: #f2f6fe;
}

.project img {
	margin: auto;
	width: 220px;
	height: 190px;
	background-color: lightgrey;
}

.project h1 {
	margin-top: 14px;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	height: 45px;
	border-bottom: solid 3px #93b93b;
}

.project p {
	padding: 3px 10px 0 10px;
	margin-top: 18px;
	height: 240px;
	font-size: 16px;
	text-align: left;
}

.project button {
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 16px;
	font-weight: bold;
	background: none;
	border: none;

	transition: .25s;
}

.project button:hover {
	color: #93b93b;
	cursor: pointer;
}

.merchBanner {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	height: 60px;
	background-color: #ebebeb;
}

.supportText {
	display: flex;
	align-content: center;
	margin: auto;
	height: 40px;
	align-items: center;
	font-size: 30px;
	font-weight: bold;
}

.merchContainer {
	margin: auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 780px;
}

.merch {
	width: 240px;
	height: 360px;
	display: flex;
	flex-flow: column;
	background-color: #f2f6fe;
}

.merch img {
	margin: auto;
	margin-top: 40px;
	width: 200px;
	height: 180px;
}

.merchCost{
	margin: auto;
	height: 35px;
	width: 220px;
	display: flex;
	align-items: center;
}

.merch h1 {
	width: 110px;
	text-align: right;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 28px;
	font-weight: normal;
}

.merch p {
	width: 110px;
	text-align: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.merch button {
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 90px;
	height: 25px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: #93b93b;
	border-color: #93b93b;
	border-radius: 10px;

	transition: 0.25s;
}

.merch button:hover {
	cursor: pointer;
	background-color: white;
	border-color: white;
	color: #93b93b;
}


/*GALLERY PAGE*/

.heroGallery {
	background-image: url(../images/hero/gallery-hero.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: auto;
	height: 420px;
}

.blueBan {
	display: flex;
	flex-direction: row;
	margin: auto;
	height: 250px;
	width: 900px;
	background-color: #f2f6fb;
}

.QL {
	margin: auto;
	width: 900px;
	text-align: left;
}


.QL ul li {
	margin-left: 40px;
	padding: 2px;
}

.QL a {
	padding: 0;
	font-size: 18px;

	transition: .25s;
}

.QL a:hover {
	color: #93b93b;
	font-weight: bold;
}

.QL h2 {
	font-size: 24px;
}

.ban {
	height: 440px;
	background-color: #ebebeb;
}

.showcase {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: auto;
	width: 900px;
}

.showcase p {
	font-size: 14px;
}

.showcaseDiscription {
	margin: auto;
	margin-top: 20px;
	width: 400px;
	height: 400px;
	text-align: left;

}

.showcase img {
	margin: auto;
	margin-top: 20px;
	width: 400px;
	height: 400px;
	background-color: grey;
}

.gall {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding: 10px 0 10px 0;
	width: 900px;
	background-color: #f2f6fb;
}

.gall img {
	width: 30%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}



/*ABOUT PAGE*/

.heroAbout {
	background-image: url(../images/hero/about-hero.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: auto;
	height: 420px;
}

.aboutBox {
	display: flex;
	flex-flow: row wrap;
	text-align: left;
	margin: auto;
	padding: 10px 0 10px 0;
	width: 900px;
	background-color: #f2f6fb;
}

.aboutText {
	width: 860px;
}

.aboutText h2 {
	font-size: 24px;
	padding: 30px 0 20px 30px;
}

.aboutText p {
	padding: 10px 0 10px 30px;
	font-size: 18px;
}

.aboutText li {
	padding: 5px 0 0 30px;
	font-size: 18px;
}

.supportMap {
	background-image: url(../images/river.jpg);
	background-repeat: no-repeat;
	height: 420px;
	width: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.supportMap h1 {
	margin: 0;
	padding: 0;
	border: none;
	line-height: 30px;
}

.traaEx {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: auto;
	padding: 10px 0 10px 0;
	width: 900px;
	background-color: #f2f6fb;
}

.traaEx h1 {
	width: 142px;
}

.chairBoxes {
	margin: auto;
	display: flex;
	flex-direction: row;
	width: 860px;
	justify-content: space-between;
}

.chairList {
	width: 380px;
	background-color: #ebebeb;
	margin-top: 20px;
	margin-bottom: 20px;
}

.chairList h2 {
	padding-top: 5px;
}

.chairList p {
	margin-left: 40px;
	padding-bottom: 20px;
}

.chairList  p i {
	margin-left: -20px;
}